.sedan-sc-regular {
	font-family: "Sedan SC", serif;
	font-weight: 50;
	font-style: normal;
  }
  

.jaro-info {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	
  }

  .animation{
	width: 200px;
	
  }
  
 